:root {
  --main-bg-color: #b8bbdb;
  --button-color: #4b54b8;
  --heading-color: #060500;
  --main-text-color: #060500;
  --second-text-color: #bdc9c8;
  --message-color: #f31008;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Times New Roman", Times, serif;
  height: 1vh;
}

header {
  width: 80%;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

div {
  color: var(--main-bg-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

#timer {
  background-color: var(--button-color);
  padding: 16px;
  border-radius: 25px;
  color: var(--main-text-color);
  width: 50px;
}

#welcome {
  color: var(--main-text-color);
  margin-bottom: 20px;
}

#highscores {
  background-color: var(--button-color);
  padding: 16px;
  border-radius: 25px;
  color: var(--main-text-color);
}

#quiz {
  background-color: var(--heading-color);
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 12px;
  border-radius: 25px;
}

#message {
  background-color: var(--message-color);
}
.option:hover {
  background-color: var(--second-text-color);
  color: var(--main-text-color);
}

button {
  background-color: var(--button-color);
  padding: 16px;
  border-radius: 25px;
}

input {
  text-align: center;
}

#summary {
  background-color: var(--message-color);
  color: var(--second-text-color);
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
}

.result {
  background-color: var(--heading-color);
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 25px;
}

.result.score-item {
  color: var(--second-text-color);
}
